.form-group{
    padding-left: 30px;
    width: 100%;
}


.form-row{
    background-color:  rgb(31, 32, 32);
    width: 100%;
    padding-left: 5px;
}

.enviar {
    padding-left: 50%;
}
.media img{
    height: 200px;
}

label{
    font-family: 'Ultra', serif;
    color:rgb(148, 158, 167); 
}

.list-unstyled{
    width: 100%;
    padding-left: 10px;
}

.fecha{
    font-size: 35px;
    font-family: 'Ultra', serif;
    color:rgb(148, 158, 167);  
}



